# Dependensi
/vendor/
/node_modules/

# data prep
/scripts/

# Hasil Build
/build/

# Data Aset
/public/maps/

# File Log & Debug
*.log
debug.log
npm-debug.log*
yarn-error.log

# File Lingkungan (Environment)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# File Sistem Operasi & Editor
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editor Kode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

# File Arsip & Installer
*.zip
*.rar
*.gz
*.tar
composer.phar