/vendor/

/node_modules/

/build/

*.log
debug.log
npm-debug.log*
yarn-error.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# code editor (VS Code, Sublime Text, Atom, etc.)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

*.zip
*.rar
*.gz
*.tar

composer.phar